<button (click)="addParent()">Add Parent</button>

<table *ngrxLet="{ parents: parents$ } as vm">
  <tr>
    <th></th>
    <th>Parent</th>
    <th>Actions</th>
  </tr>
  <ng-container *ngFor="let parent of vm.parents">
    <tr>
      <td>
        <button (click)="parent.open = !parent.open">
          {{ parent.open ? "Close" : "Open" }}
        </button>
      </td>
      <td>{{ parent.name }}</td>
      <td>
        <button (click)="editParent(parent)">Edit</button>
        <button (click)="deleteParent(parent)">Delete</button>
        <button (click)="addChild(parent)">Add Child</button>
      </td>
    </tr>
    <ng-container *ngIf="parent.open">
      <tr *ngFor="let child of parent.children">
        <td></td>
        <td>Child: {{ child.name }}</td>
        <td>
          <button (click)="editChild(child)">Edit</button>
          <button (click)="deleteChild(child)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </ng-container>
</table>
